@import 'tailwindcss';

@source '../views/**/*.blade.php';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
    --font-lato: 'Lato', ui-sans-serif, system-ui, sans-serif;

    --color-park-gray: #a6a6a6;
    --color-park-green: #99bd99;
}